*{
	padding:0;
	margin:0;
}
.daohang{
	list-style:none;
}
a{
	text-decoration:none;
}
.header{
	height:173px;
	background-color:#eeeeef;
}
.logo{
	padding-top:30px;
	text-align:center;
	height:95px;
}
.daohang{
	width:670px;
	height:45px;
	background-color:white;
	margin:0 auto;
	border-radius:23px;
}
.daohang li{
	float: left;
	height: 45px;
	background: url(../images/line.png) no-repeat right center;
	padding: 0 30px;
	line-height: 45px;
	font-size:14px;
}	text-align:center;

.first{
	border-bottom: 3px solid #1e50ae;
	display: block;
	height: 42px;
}
.zhong{
	border-bottom: 3px;
	display: block;
	height: 42px;
	color: black;
}
.daohang li:last-child{
	background: none;
	border-bottom: 3px;
	display: block;
	height: 42px;
}
.last{
	color: black;
}
.banner{
	height:405px;
	background:url(../images/banner.png) no-repeat center center;
}
.serve{
	width:1200px;
	height:500px;
	margin:0 auto;
	text-align:center;
	margin-top:61px;

}
h1{
	font-size:34px;
}
p{
	font-size:31px;
}
.xiangmu1{
	width:1201px;
	height:372px;
	margin: 0 auto;
	text-align:center;
}
.a1{
	font-size:16px;
}
.a{
	width:300px;
	height:372px;
	float:left;
}
.a li{
	text-align:left;
	margin-left:130px;
	color:gray;
	font-size:14px;
}
.xiangmu2{
	width:1201px;
	height:253px;
	margin: 0 auto;
	text-align:center;
}
.fangan{
	width:100%;
	margin:0 auto;
	height:713px;
	float:left;
	background:url(../images/fangan.png) no-repeat center center;
}
.b1{
	padding-top:66px;
	font-size:34px;
	text-align:center;
	color:white;
}
.b2{
	padding-top:22px;
	font-size:24px;
	text-align:center;
	color:white;
}
.c1{
	float:left;
	margin-left:225px;
	margin-top:60px;
}
.c2{
	float:left;
	margin-left:52px;
	margin-top:60px;
}
.c3{
	float:left;
	margin-left:52px;
	margin-top:60px;
}
.c4{
	float:left;
	margin-left:52px;
	margin-top:60px;
}
.c5{
	text-align:center;
	margin-top:450px;
}
.c5 button{
	border-radius:25px;
	color:white;
	width:230px;
	height:50px;
	border:1px solid #fff;
	background:none;
	margin:0 auto;
}
.zixun{
	width:100%;
	height:905px;
	text-align:center;
	margin-top:50px;
	float:left;
}
.d1{
	font-size:34px;
	margin:0 auto;
}
.d2{
	margin:0 auto;
	font-size:20px;
}
.d3{
	margin:0 auto;
	float:left;
	margin-left:255px;
	margin-top:30px;
}
.d4{
	width:601px;
	height:362px;
	float:left;
	margin-top:30px;
	text-align:left;
}
.d5{
	margin-top:37px;
	font-size:22px;
	line-height:21px;
}
.d6{
	font-size:22px;
	line-height:21px;
	margin-top:22px;
}
.d7{
	font-size:14px;
	color:gray;
	line-height:18px;
	margin-top:34px;
}
.d4 button{
	border-radius:25px;
	color:blue;
	width:141px;
	height:40px;
	border:1px solid blue;
	background:none;
	margin:0 auto;
	margin-top:34px;
}
.ul{
	list-style:none;
	font-size:14px;
	color:gray;
}
.d8{
	margin-top:19px;
	margin-left:254px;
	text-align:left;
	float:left;
}
.d9{
	margin-top:19px;
	margin-left:25px;
	text-align:left;
	float:left;
}
.dao2{
	float:left;
}
.dao1{
	float:left;
}